.App {
  font-family: sans-serif;
  text-align: center;
}

.dotPlot {
  margin-top: 64px;
}

/* You can style the .plot class as you see fit! Default styles at */
/* https://github.com/observablehq/plot/blob/main/src/style.css */
/* .plot {
  display: block;
  font: 10px system-ui, sans-serif;
  background: white;
  height: auto;
  height: intrinsic;
  max-width: 100%;
}

.plot text {
  white-space: pre;
} */
svg {
  height: 700px;
  max-width: 100%;
  width: 1000px;
}